<app-header [sidenav]="sidenav"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [autoFocus]="false">
    <mat-nav-list (click)="sidenav.toggle()">
      <a mat-list-item [routerLinkActiveOptions]="{exact: true}" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a mat-list-item [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="active">Leads</a>
      <a mat-list-item [routerLinkActiveOptions]="{exact: true}" routerLink="/users" routerLinkActive="active">Users</a>
      <a mat-list-item [routerLinkActiveOptions]="{exact: true}" routerLink="/status" routerLinkActive="active">Status</a>
      <a mat-list-item class="logout" (click)="logOut()">Log out</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-sidebar></app-sidebar>
    <div class="container">
      <div class="inner-container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-spinner></app-spinner>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-add-button></app-add-button>
