<div class="header">
  What is your email?
</div>
<form [formGroup]="resetForm" (ngSubmit)="sendResetLink()">
  <div class="input-container">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [formControl]="email">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-container">
    <button mat-button class="login-button" [disabled]="!resetForm.valid">Reset password</button>
  </div>
</form>
