<div mat-dialog-title class="title">
  <div class="icon" (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </div>
</div>
<div mat-dialog-content class="container">
  <form class="fields-container" [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <div class="fields-row">
      <mat-form-field>
        <input matInput placeholder="Password" [type]="passwordFieldType"
               [formControl]="passwordForm.get('password')">
        <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword" (click)="showOrHidePassword()">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('password').hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">
          Password must have at least 6 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Repeat password" [type]="passwordFieldType"
               [formControl]="passwordForm.get('repeatPassword')">
        <mat-error *ngIf="passwordForm.get('repeatPassword').hasError('required')">
          Password is too short
        </mat-error>
        <mat-error *ngIf="passwordForm.get('repeatPassword').hasError('notSame')">
          Passwords not the same
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-button type="submit" class="form-btn" [disabled]="!passwordForm.valid">Change password</button>
  </form>
</div>
